
config global
	option global_server 'nil'
	option netflix_server 'nil'
	option netflix_proxy '0'
	option threads '0'
	option run_mode 'router'
	option dports '2'
	option custom_ports '80,443'
	option pdnsd_enable '1'
	option tunnel_forward '8.8.4.4:53'
	option monitor_enable '1'
	option enable_switch '1'
	option switch_time '667'
	option switch_timeout '5'
	option switch_try_count '3'
	option shunt_dns '1'
	option gfwlist_url 'https://fastly.jsdelivr.net/gh/YW5vbnltb3Vz/domain-list-community@release/gfwlist.txt'
	option chnroute_url 'https://ispip.clang.cn/all_cn.txt'
	option nfip_url 'https://fastly.jsdelivr.net/gh/QiuSimons/Netflix_IP/NF_only.txt'
	option adblock_url 'https://anti-ad.net/anti-ad-for-dnsmasq.conf'

config server_subscribe
	option proxy '0'
	option auto_update '1'
	option auto_update_week_time '*'
	option auto_update_day_time '2'
	option auto_update_min_time '0'
	option user_agent 'v2rayN/9.99'
	option filter_words '过期时间/剩余流量/QQ群/官网/防失联地址/回国'

config access_control
	option lan_ac_mode '0'
	option router_proxy '1'
	list wan_fw_ips '149.154.160.0/20'
	list wan_fw_ips '67.198.55.0/24'
	list wan_fw_ips '91.108.4.0/22'
	list wan_fw_ips '91.108.56.0/22'
	list wan_fw_ips '109.239.140.0/24'
	list wan_fw_ips '8.8.8.8'
	list wan_fw_ips '1.1.1.1'
	list Interface 'lan'

config socks5_proxy
	option server 'nil'
	option local_port '1080'

config server_global
	option enable_server '0'

config global_xray_fragment
	option fragment '0'
	option noise '0'

